body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
    padding-top: 50px;
}

input {
    padding: 10px;
    width: 300px;
}

button {
    padding: 10px 20px;
    margin-left: 10px;
}

#output {
    margin-top: 30px;
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}
